In [16]:
import pandas as pd

In [17]:
#%pip install openpyxl

In [18]:
df_igc = pd.read_excel('data\inep_indicadores\IGC_2019.xlsx', sheet_name = 'IGC_2019')
df_cpc = pd.read_excel('data\inep_indicadores\IGC_2019.xlsx', sheet_name = 'CPC_2017_2018_2019')

## Processando IGC

In [19]:
df_igc.head()

,Ano,Código da IES,Nome da IES,Sigla da IES,Organização Acadêmica,Categoria Administrativa,Sigla da UF,Nº de Cursos com CPC no triênio,Alfa (Proporção de Graduação),Conceito Médio de Graduação,Beta (Proporção de Mestrado - Equivalente),Conceito Médio de Mestrado,Gama (Proporção de Doutorandos – Equivalente),Conceito Médio do doutorado,IGC (Contínuo),IGC (Faixa),TX_OBS
0,2019,1,UNIVERSIDADE FEDERAL DE MATO GROSSO,UFMT,Universidade,Pública Federal,MT,91,0.793355,2.924962,0.133805,4.299846,0.072840,4.676593,3.236518,4,NaN
1,2019,2,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,DF,87,0.524364,3.269586,0.232540,4.588441,0.243096,4.772640,3.941659,4,NaN
2,2019,3,UNIVERSIDADE FEDERAL DE SERGIPE,UFS,Universidade,Pública Federal,SE,90,0.801417,3.105500,0.121849,4.275261,0.076734,4.663607,3.367594,4,NaN
3,2019,4,UNIVERSIDADE FEDERAL DO AMAZONAS,UFAM,Universidade,Pública Federal,AM,75,0.848582,2.821851,0.102966,4.234367,0.048452,4.491420,3.048187,4,NaN
4,2019,5,UNIVERSIDADE FEDERAL DO PIAUÍ,UFPI,Universidade,Pública Federal,PI,77,0.855083,2.713283,0.100234,4.309608,0.044683,4.668567,2.960657,4,NaN

In [20]:
df_igc.columns

Index([' Ano', ' Código da IES', ' Nome da IES', ' Sigla da IES',
       ' Organização Acadêmica', ' Categoria Administrativa', ' Sigla da UF',
       ' Nº de Cursos com CPC no triênio', ' Alfa (Proporção de Graduação)',
       ' Conceito Médio de Graduação',
       ' Beta (Proporção de Mestrado - Equivalente)',
       ' Conceito Médio de Mestrado',
       ' Gama (Proporção de Doutorandos – Equivalente)',
       ' Conceito Médio do doutorado', ' IGC (Contínuo)', ' IGC (Faixa)',
       'TX_OBS'],
      dtype='object')

In [21]:
#colunas_igc = [' Código da IES',' Sigla da IES',' Alfa (Proporção de Graduação)',' Conceito Médio de Graduação',' IGC (Contínuo)', ' IGC (Faixa)']
colunas_igc = [' Código da IES',' Sigla da IES',' IGC (Contínuo)', ' IGC (Faixa)']

In [22]:
df_igc_alvo = df_igc.loc[:,colunas_igc]

In [23]:
df_igc_alvo.columns = ['codigo_ies','sigla_ies','igc_continuo','igc_faixa']
df_igc_alvo

      codigo_ies        sigla_ies  igc_continuo igc_faixa
0              1             UFMT      3.236518         4
1              2              UNB      3.941659         4
2              3              UFS      3.367594         4
3              4             UFAM      3.048187         4
4              5             UFPI      2.960657         4
...          ...              ...           ...       ...
2085       19862  FATEC Bebedouro      2.835660         3
2086       19863      FATEC Assis      2.525471         3
2087       20478        FATEC-SPB      2.512686         3
2088       22015             FAMA      2.292900         3
2089       23410          UEMASUL      1.544614         2

[2090 rows x 4 columns]

### Verificando Erros de Inserção

In [24]:
df_igc_alvo.igc_faixa.unique()

array(['4', '5', '3', '2', 'SC', '1'], dtype=object)

In [25]:
# Definindo NI como NÃO INFORMADO sobre os valores nulos.
df_igc_alvo['igc_faixa'] = df_igc_alvo['igc_faixa'].map({'SC':'NI'})

In [26]:
df_igc_alvo.columns = ['CODIGO_IES','SIGLA_IES','IGC_CONTINUO','IGC_FAIXA']

In [27]:
df_igc_alvo.to_csv('bases_processadas/IGC.csv',index=False)

## Processando CPC

In [28]:
df_cpc.head()

,Ano da Edição,Código da IES,Código do Curso,CPC (Contínuo),Nº de Matrículas
0,2018,1,1,3.027883,445.0
1,2018,1,2,2.814477,344.0
2,2019,1,3,2.497350,248.0
3,2017,1,6,2.966373,321.0
4,2018,1,7,3.131665,253.0

In [29]:
df_cpc.drop(['Ano da Edição','Nº de Matrículas'], axis=1,inplace=True)

In [30]:
df_cpc.head()

   Código da IES  Código do Curso  CPC (Contínuo)
0              1                1        3.027883
1              1                2        2.814477
2              1                3        2.497350
3              1                6        2.966373
4              1                7        3.131665

In [31]:
df_cpc.columns = ['codigo_ies','codigo_curso','cpc_continuo']

Conceito Enade
(Faixa)<br>

1: 0 ≤ NCc < 0,945<br>
2: 0,945 ≤ NCc < 1,945<br>
3: 1,945 ≤ NCc < 2,945<br>
4: 2,945 ≤ NCc < 3,945<br>
5: 3,945 ≤ NCc ≤ 5

In [32]:
def calcular_faixa(nota_conitnua):
    if(nota_conitnua>=0 and nota_conitnua<0.945):
        return 1
    elif (nota_conitnua>=0.945 and nota_conitnua<1.945):
        return 2
    elif (nota_conitnua>=1.945 and nota_conitnua<2.945):
        return 3
    elif (nota_conitnua>=2.945 and nota_conitnua<3.945):
        return 4
    elif (nota_conitnua>=3.945 and nota_conitnua<=5):
        return 5

In [33]:
df_cpc['cpc_faixa'] = df_cpc['cpc_continuo'].apply(calcular_faixa)

In [34]:
df_cpc

       codigo_ies  codigo_curso  cpc_continuo  cpc_faixa
0               1             1      3.027883        4.0
1               1             2      2.814477        3.0
2               1             3      2.497350        3.0
3               1             6      2.966373        4.0
4               1             7      3.131665        4.0
...           ...           ...           ...        ...
24958       22015         67625      2.292900        3.0
24959       23410         69971      1.348845        2.0
24960       23410         69993      1.935083        2.0
24961       23410       1208279      1.317664        2.0
24962       23410       1287599      1.515831        2.0

[24963 rows x 4 columns]

In [35]:
df_cpc.columns=['CODIGO_IES','CODIGO_CURSO','CPC_CONTINUO','CPC_FAIXA']

In [36]:
df_cpc.to_csv('bases_processadas/CPC.csv',index=False)